@{
    ViewData["Title"] = "Contact";
}

<div style="background-image: radial-gradient( circle 592px at 48.2% 50%, rgba(255,255,249,0.6) 0%, rgba(160,199,254,1) 74.6% );"
     class="col-sm-10 scale-in-ver-center card border-dark text-left text-decoration-none text-dark shadow-lg">
    <div class="card-header text-center text-white bg-dark text-uppercase">
        <h2 class="font-weight-bold">Contact Me</h2>
    </div>
    <div class="card-body">
        <p class="font-weight-bold">Name:  <strong class="font-weight-normal">Aguero Arrieta Hugo</strong></p>
        <p class="font-weight-bold">Mail:  <strong class="font-weight-normal">huguitoaguero@gmail.com</strong></p>
        <p class="font-weight-bold">Phone:  <strong class="font-weight-normal">+549 351 3871110</strong></p>
    </div>
</div>

